<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
  <h1 >The Boston Herald Saved Headlines</h1>
  <p class="lead">Mongo Scraper Homework assignment</p>
  </div>
  <hr class="my-4">
<div class="container-fluid article-container">

</div>

  <a class="btn btn-primary btn-lg" href="#" role="button">Scrape</a>
</div>

<footer class="footer">
  <div class="container">
    <p>Boston Herald Headline Scraper</p>
  </div>
</footer>