body {
    background: #999;
}
.jumbotron{
    margin-bottom: 0;
}

.card {
    margin: 5px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}
.card-title {
    background: #39ff14;
}
.save-btn {
    background: #ff69b4;
}

.get-btn {
    background: #ff69b4;
}

.del-btn{
    margin-left: 5px;
    background: red;
}